@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@font-face {
    font-family: "Magz";
    font-weight: 700;
    src: url(../fonts/Magz.otf);
}

:root {
    --main-color: #5E17EB;
    --hover-color: #2764BA;
    --box-color: #FDF9F2;
    --back-box-color: #B8A6C0;
    --border-color: #000;
    --other-color: rgba(66, 5, 68, 0.781);
  }

*
{
    margin: 0;
    padding: 0;
}

 body
 {
     font-family: "Magz", sans-serif;
     background: url(../imgs/bg-img.png);
     background-position: center;
     background-size: cover;
 }


 .navbar
 {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     background-color: var(--back-box-color);
     padding: 15px;
     border-radius: 7px;
     box-shadow: 4px 4px 6px 6px var(--border-color);
 }
 .navbar a
 {
     text-decoration: none;
     color: var(--border-color);
 }

 .logo
 {
     margin-right: 50px;
     font-size: 30px;
 }

 .list
 {
     list-style: none;
     display: flex;
     gap: 25px;
     font-size: 20px;
     margin-right: 20px;
     border-radius: 16px;
     animation: pop 1s ease-in-out;
     transition: 0.2s ease-in-out;
 }

 .list a:hover
 {
     color: var(--main-color);
 }

 #toggler,
 .navbar label
 {
     display: none;
 }

 @media screen and (max-width: 600px)
 {
     .menu
     {
         width: 100%;
         max-height: 0;
         overflow: hidden;
     }

     .list
     {
         flex-direction: column;
         align-items: center;
         padding: 20px;
         background: var(--box-color);
     }

     .navbar label
     {
         display: inline-flex;
         align-items: center;
         cursor: pointer;
         font-size: 30px;
     }

     #toggler:checked ~ .menu
     {
         max-height: 100%;
     }

}


 @media (max-width: 35em)
 {

     .fas
     {
         font-size: 50px;
         background: var(--box-color);
     }

     div.content
     {
         flex-direction: column;
         padding: 10px;
         margin-left: 30px;
         margin-top: 2em;
     }

     div.content-info
     {
         top: 10rem;
     }

     form.email-form-btn
     {
         margin-top: 20px;
     }
    
     form.email-form-btn input
     {
         height: 40px;
         width: 50vw;
         border: 3px solid var(--border-color);
         border-radius: 7px;
         font-family: "Magz", sans-serif;
         font-weight: 300;
         padding-left: 10px;
     }
    
     form.email-form-btn button
     {
        height: 40px;
        width: 20vw;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px solid var(--border-color);
        border-radius: 7px;
        font-family: "Magz", sans-serif;
        font-weight: 300;
        font-size: 20px;
        background-color: var(--main-color);
     }

     div.contain-image
     {
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
     }
 }

 @supports (backdrop-filter: blur(1rem))
 {
     .primary-navigation
     {
        background: rgba(255, 255, 255, 0.781);
        backdrop-filter: blur(1rem); 
     }
 }

.content
 {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px;
     margin-left: 20px;
     margin-top: 5em;
 }

 .content h1
 {
     font-size: 50px;
 }

 .content h2
 {
     color: var(--main-color);
 }

 .content h3
 {
     font-size: 20px;
     margin-top: 20px;
 }

 .email-form-btn
 {
     margin-top: 50px;
 }

 .email-form-btn input
 {
     height: 40px;
     width: 20vw;
     border: 3px solid var(--border-color);
     border-radius: 7px;
     font-family: "Magz", sans-serif;
     font-weight: 300;
     padding-left: 10px;
     box-shadow: 2px 5px var(--border-color);
 }

 .email-form-btn button
 {
    height: 40px;
    width: 7vw;
    border: 2px solid var(--border-color);
    border-radius: 7px;
    font-family: "Magz", sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
 }

 .email-form-btn button:hover
 {
     background-color: var(--hover-color);
 }

 .content-card
 {
     background: rgba(66, 5, 68, 0.781);
     border-radius: 7px;
 }

 .content-card-frontground
 {
    margin-left: 50px;
    border-radius: 10px;
 }

 .content-card-frontground img
 {
     height: 20em;
     width: 20em;
 }

 .email-form-btn a
 {
     text-decoration: none;
     color: var(--border-color);
 }

 .email-form-btn a:hover
 {
     color: rgba(66, 5, 68, 0.781);
 }
 .contain-image img
 {
     margin-right: 20px;
 }